/.env.*
/node_modules
/dist
/.cursor
/.vscode
/compose.test.yml
.DS_Store
wp-content/uploads
wp-content/upgrade
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/languages
wp-content/index.php
wp-content/themes/*
!wp-content/themes/index.php
!wp-content/themes/mypage
!wp-content/themes/mypage/**
db.sql
mywebsite.db
debug.log
data_base
