@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* Tailwind v4: enable class-based dark mode for `dark:*` utilities */
@custom-variant dark (&:where(.dark, .dark *));
@source "../../**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Syne", sans-serif;
    color: black;
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-hero {
    opacity: 1;
    animation: slideUpFade 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  .animate-enter {
    animation: slideUpFade 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;
  }
  .delay-100 {
    animation-delay: 0.1s;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }

  .delay-300 {
    animation-delay: 0.3s;
  }

  .delay-500 {
    animation-delay: 0.5s;
  }

  .delay-700 {
    animation-delay: 0.7s;
  }

  .clay-card {
    box-shadow:
      inset -10px -10px 20px rgba(174, 174, 192, 0.1),
      inset 10px 10px 20px rgba(255, 255, 255, 0.8),
      10px 20px 30px rgba(174, 174, 192, 0.15);
  }

  .clay-card-strong {
    box-shadow:
      inset -8px -8px 16px rgba(0, 0, 0, 0.05),
      inset 8px 8px 16px rgba(255, 255, 255, 0.9),
      8px 12px 24px rgba(0, 0, 0, 0.08);
  }

  .menu-closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .menu-open {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .woocommerce-mini-cart__total {
    @apply text-end;
  }
  .woocommerce-mini-cart__buttons {
    @apply flex! justify-end! gap-2! mt-4!;
  }
  .woocommerce-mini-cart__buttons a.button {
    @apply bg-black! text-white! rounded-full! text-sm!;
  }
   .wc-block-checkout__actions_row button {
    @apply bg-black! text-white! rounded-full! text-base!;
  } 
  .wc-proceed-to-checkout a {
    @apply bg-black! text-white! rounded-full! text-base!;
  }
  /* .wc-block-components-form label { 
    @apply text-sm! font-semibold! text-slate-400!;
  }
  .wc-block-components-form input {
    @apply rounded-2xl!;
  }
  .wc-block-components-form select {
    @apply rounded-2xl!;
  }
  .woocommerce-cart-form table {
    @apply rounded-2xl!;
  }
  .woocommerce .cart-collaterals .cart_totals table {
    @apply rounded-2xl!;
  }
  .wc-block-components-radio-control-accordion-option .wc-block-components-radio-control-accordion-option--checked-option-highlighted {
    @apply: rounded-2xl! text-white! bg-black!;
  } */
}
